
<div class="span5 offset5 text-center steamy-hottub">

	<h1 class="custom-font">Hi, I'm Beyonce</h1>

	<h2>I'm having a blast learning how to code in my hot tub</h2>

	<%= link_to 'Launch My App', '#', :class => 'btn btn-success btn-large' %>

</div>