<div class="steamy-hottub">
	<h2>

		<% @pics.each do |pic| %>
			Hour: <%= pic.hour %>
			<br />
			Emotion: <%= pic.emotion %>
			<br />
			Learned: <%= pic.learned %>
			<br />
		<% end %>

	</h2>

</div>
